SERVER_PORT= "8000"

DB_NAME = "mydatabase"
DB_USER = "myuser"
DB_PASSWORD = "mypassword"
DB_PORT = "5432"
DB_HOST= "postgres"

ADMIN_EMAIL = "admin@admin.com"
ADMIN_PASSWORD = "admin"

#Supabasae Connection
# DB_HOST= "aws-0-ap-southeast-1.pooler.supabase.com"
# DB_NAME = "postgres"
# DB_USER = "postgres.cojlgcbjamollfkcsnyp"
# DB_PASSWORD = "arom-web-db-password"
# DB_PORT = "5432"