DB_HOST= "aws-0-ap-southeast-1.pooler.supabase.com"
DB_NAME = "postgres"
DB_USER = "postgres.cojlgcbjamollfkcsnyp"
DB_PASSWORD = "arom-web-db-password"
DB_PORT = "5432"

SUPABASE_URL = "https://cojlgcbjamollfkcsnyp.supabase.co"
SUPABASE_API_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNvamxnY2JqYW1vbGxma2NzbnlwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTczMDQ3MDgyOCwiZXhwIjoyMDQ2MDQ2ODI4fQ.dmfu16x4o84H_N4uIkB8km5qgILVbmsUeSbSTOUXtpQ"
SUPABASE_BUCKET="profile-images"

SERVER_PORT= "8000"
JWT_SECRETS="6e892b4282f07295613d594057b4111e499a5a3d07444dc893f1d5e5c9646a8a"